.box {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  margin: 5px;
}

.image {
  border-radius: 5px;
}

.normalImage {
  max-width: 30svw;
  max-height: 30svh;
  min-width: 15svh;
  min-height: 15svw;
}

.clickedImage {
  max-width: 90svw;
  max-height: 90svh;
  min-height: 45svw;
  min-width: 45svh;
}
