.imageBox {
  border-radius: 10px;
  box-shadow: 0 0 2px rgba(120, 250, 50, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.normalBox {
  width: intrinsic;
  height: intrinsic;
  width: max-content;
  height: max-content;
  width: -moz-max-content;
  height: -moz-max-content;
  width: -webkit-max-content;
  height: -webkit-max-content;
}

.clickedBox {
  width: 95%;
  height: intrinsic;
  height: -moz-max-content;
  height: -webkit-max-content;
}

.normalBox:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(120, 250, 50);
}
