.container {
  width: 80%;
  padding: 5px;
  min-height: fit-content;
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
}

.info {
  width: 80%;
  display: inline-block;
}

.text {
  width: 90%;
  text-align: center;
  display: flex;
  text-align: left;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.text p {
  width: 70%;
}

.container * {
  margin: 0.5svh;
}

.linksContainer {
  display: inline-block;
  height: 100%;
  width: 100%;
}
