.container {
  width: 80%;
  padding: 5px;
  min-height: fit-content;
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  margin: 5svh;
}

.info {
  width: 75%;
  display: inline-block;
  text-align: center;
}

/* .text {
  display: flex;
  text-align: left;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
} */

.linksContainer {
  width: 20%;
  margin-left: 1.5svw;
}

.unsplashLink {
  color: black;
  text-decoration: none;
}

.unsplashLink:hover:not(:has(.moreOrLess:hover)) {
  text-decoration: underline;
}

.moreOrLess {
  border: none;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(120, 250, 50, 1);
}

.moreOrLess:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(120, 250, 50, 1);
}
